#bbms button {
    float: left;
}

#sections button {
    display: flex;
}

#message {
    font-size: 5em;
    text-align: center;
}

.right {
    color: green;
}

.wrong {
    color: red;
}

button {
    font-size: 3em;
    margin: 0.1em;
}